.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#inline {
    display: inline;
}

.checked {
    color: orange;
}

.spacer {
    margin: 3rem 3rem;
}